{{ partial "homepage-header" }}

{{ partial "site-navbar"}}


<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1 class="text-center">Renato Vargas</h1>
			<p class="text-center"><em>Conectando el Mundo de la Biotecnología</em></p>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
<hr>
<div class="container">


	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="issue-number">
				<p class="text-center"><small>Lo Más Reciente</small></p>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>




	{{ range where .Pages "Section" "blog" }}
	{{ range first 2 .Pages }}
	<div class="row">
		<div class="col-md-1 col-sm-0 col-xs-0"></div>
		<div class="col-md-10 col-sm-12 col-xs-12">
			<h2><a href="{{ .Permalink }}"> {{ .Title }} </a></h2>
		</div>
		<div class="col-md-1 col-sm-0 col-xs-0"></div>
	</div>
	<div class="row">
		<div class="col-md-1 col-sm-0 col-xs-0"></div>
		<div class="col-md-10 col-sm-9 col-xs-12">
			<p> <em>{{.Date.Format "Jan. 2, 2006"}}</em></p>
			<p> {{.Params.lead}} </p>
		</div>

		<div class="col-md-1 col-sm-0 col-xs-0"></div>

	</div>

	<hr>
	{{ end }}
	{{ end }}


</div>


<div class="container">
	<div class="row">
		<h3 class="text-center">Y más...</h3>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-2 col-sm-0 col-xs-0"></div>

		<!--	START COMMENT OUT	
    {{ range where .Pages "Section" "videos" }}
      {{ range first 1 .Pages }}
	  <div class="col-md-2 col-sm-3 col-xs-6">
		  <div class="thumbs-box">
 		   
		  <h5> <a href="{{ .Permalink }}" > {{ .Title }} </a></h5>
          <p>{{ .Params.Shortdesc }}</p>
          <p>
              <small>
                En <a href="{{ .Section }}"> {{ .Section }} </a> | {{.Date.Format "02/01/2006"}}
			  </small> 
			</p>
			
    </div>
  </div>
  {{ end }}
  {{ end }}
END COMMENT OUT-->

		<!-- START PODCAST COMMENT OUT / 
  {{ range where .Pages "Section" "podcast" }}
  {{ range first 1 .Pages }}
<div class="col-md-2 col-sm-3 col-xs-6">
  <div class="thumbs-box">
    
  <h5> <a href="{{ .Permalink }}" > {{ .Title }} </a></h5>
      <p>{{ .Params.Shortdesc }}</p>
      <p>
          <small>
            En <a href="{{ .Section }}"> {{ .Section }} </a> | {{.Date.Format "02/01/2006"}}
          </small> </p>
  
</div>
</div>
{{ end }}
{{ end }}

END PODCAST COMMENT OUT -->

		{{ range where .Pages "Section" "blog" }}
		{{ range first 2 (after 2  .Pages ) }}
		<div class="col-md-4 col-sm-6 col-xs-6">
			<div class="thumbs-box">

				<h5> <a href="{{ .Permalink }}"> {{ .Title }} </a></h5>
				<p>{{ .Params.Shortdesc }}</p>
				<p>
					<small>
						En <a href="{{ .Section }}"> {{ .Section }} </a> | {{.Date.Format "Jan. 2, 2006"}}
					</small> </p>

			</div>
		</div>
		{{ end }}
		{{ end }}

		<div class="col-md-2 col-sm-0 col-xs-0"></div>
	</div>
		<div class="row">

			<div class="col-md-2 col-sm-0 col-xs-0"></div>

			{{ range where .Pages "Section" "blog" }}
			{{ range first 2 (after 4  .Pages ) }}
			<div class="col-md-4 col-sm-6 col-xs-6">
				<div class="thumbs-box">

					<h5> <a href="{{ .Permalink }}"> {{ .Title }} </a></h5>
					<p>{{ .Params.Shortdesc }}</p>
					<p>
						<small>
							In <a href="{{ .Section }}"> {{ .Section }} </a> | {{.Date.Format "Jan. 2, 2006"}}
						</small> </p>

				</div>
			</div>
			{{ end }}
			{{ end }}
			<div class="col-md-2 col-sm-0 col-xs-0"></div>
		</div>

</div>
<div class="container">
	<div class="row">
		<h3 class="text-center"><a href="/blog">CONTENIDO</a></h3>
	</div>
</div>
{{ partial "site-footer"}}