 <!-- Start Navbar-->
 <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/assets/img/renatovargas-logo.png" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
       

        <a class="navbar-item" href="/portfolio/">
          Portfolio
        </a>
        <!--
        <a class="navbar-item">
          Recursos
        </a>
        <a class="navbar-item">
          Publicaciones
        </a>
        <a class="navbar-item">
          En Vivo
        </a>-->
        <div class="navbar-item">
          <a href="https://www.linkedin.com/in/revargas/" target="_blank"><i class="fa fa-linkedin fa-fw"
              aria-hidden="true"></i>LinkedIn</a>
        </div>
      </div>
    </div>

    <!--Navbar end -->
    <div class="navbar-end">
      <div class="navbar-item">
        <a href="index-es.html"><button class="button is-warning">Español
          </button></a>
      </div>

    </div>



  </nav>
  <!-- End Navbar-->