  <!--Last Section - Outro Hero-->
  <section class="hero is-info">
    <!--section class="container"-->
    <div class="hero-body">
      <div class="columns">

        <div class="column is-two-thirds">
          <p class="title">
            Economist and independent consultant
          </p>
          <p class="subtitle">
            With over 15 years of experience creating scientifically-validated content for international 
            organizations, I can help you design, manage, execute, document, and disseminate original 
            research and analysis, creating intellectual property assets to persuade clients, partners, 
            and staff of the benefits of different courses of action, products, or services, thus strengthening 
            the organization's institutional reputation and expertise.
          </p>
        </div>
        <div class="column">

          <!--Start card-->
          <div class="card">
            <div class="card-content">

              <div class="card-image has-text-centered">
                <figure class="image is-128x128 is-inline-block">
                  <img class="is-rounded" src="/assets/img/renato-vargas.jpg" />
                </figure>
              </div>
              <p class="has-text-centered">Let's book a call to determine if my services match your needs. Contact me:</p>

            </div>
            <footer class="card-footer">
              <p class="card-footer-item">

                <a href="https://wa.me/50233654263" target="_blank"><button class="button is-success"><i
                      class="fa fa-whatsapp fa-fw" aria-hidden="true"></i>WhatsApp
                  </button></a>
              </p>
              <p class="card-footer-item">
                <a href="https://www.linkedin.com/in/revargas/" target="_blank"><button class="button is-info"><i
                      class="fa fa-linkedin fa-fw" aria-hidden="true"></i>LinkedIn
                  </button></a>
              </p>
            </footer>
          </div>
          <!--End Card-->
        </div>

      </div>
    </div>
  </section>
  <!--End Last Section - Outro Hero-->