<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Renato Vargas | Ejecución perfecta</title>
	<meta name="description" content="Ideas prácticas de un economista para líderes e innovadores de Latinoamérica.">
	<meta name="keywords" content="Economía, negocios, agricultura, alimentos, innovación, tecnología">
	<meta name="author" content="Renato Vargas">
	

    
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

	
	<link href="https://fonts.googleapis.com/css?family=Lora|PT+Sans" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148795508-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148795508-1');
</script>
    
    
  </head>
  <body>