<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Renato Vargas | Ejecución perfecta</title>
	<meta name="description" content="Prácticas de ejecución perfecta, alto desempeño y aprendizaje acelerado">
	<meta name="keywords" content="Alto desempeño, Concentración, Ejecución Perfecta">
	<meta name="author" content="Renato Vargas">
	

    
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

	
	<link href="https://fonts.googleapis.com/css?family=Lora|PT+Sans" rel="stylesheet">

    
    
    
  </head>
  <body>