<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Renato Vargas | Your organization's knowledge is an asset</title>
  <meta name="description"
    content="Experienced economist conducting original research and helping your organization turn specialized knowledge and data into high quality editorial content to persuade clients and disseminate ideas.">
  <script src="https://kit.fontawesome.com/e8a29d98ab.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <!--Navbar js-->
  <script>
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Add a click event on each of them
      $navbarBurgers.forEach(el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });

    });
  </script>
  <!--End Navbar js-->



</head>

<body>

  <!-- Start Navbar-->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/index-en.html">
        <img src="../assets/img/renatovargas-logo.png" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <!--

        <a class="navbar-item">
          Servicios
        </a>
        <a class="navbar-item">
          Recursos
        </a>
        <a class="navbar-item">
          Publicaciones
        </a>
        <a class="navbar-item">
          En Vivo
        </a>-->
        <div class="navbar-item">
          <a href="https://www.linkedin.com/in/revargas/" target="_blank"><i class="fa fa-linkedin fa-fw"
              aria-hidden="true"></i>LinkedIn</a>
        </div>
      </div>
    </div>

    <!--Navbar end -->
    <div class="navbar-end">
      <div class="navbar-item">
        <a href="index-es.html"><button class="button is-warning">Español
          </button></a>
      </div>

    </div>



  </nav>
  <!-- End Navbar-->

  <!--First Section - Intro Hero-->
  <section class="hero is-info is-medium">
    <!--section class="container"-->
    <div class="hero-body">
      <div class="columns">

        <div class="column is-two-thirds">
          <p class="title">
            The specialized knowledge of your organization is an asset
          </p>
          <p class="subtitle">
            As an independent consultant in economics, agricultural productivity, environmental sustainability, and
            geographic
            information systems, I help organizations conduct specialized research and analysis and turn it into
            flagship reports,
            books, journal articles, structured talks, training materials, and social network content to persuade
            clients and
            disseminate ideas.
          </p>
        </div>
        <div class="column">

          <!--Start card-->
          <div class="card">
            <div class="card-content">

              <div class="card-image has-text-centered">
                <figure class="image is-128x128 is-inline-block">
                  <img class="is-rounded" src="/assets/img/renato-vargas.jpg" />
                </figure>
              </div>
              <p class="has-text-centered">Let's book a call to determine if my services match your needs. Contact me:
              </p>

            </div>
            <footer class="card-footer">
              <p class="card-footer-item">

                <a href="https://wa.me/50233654263" target="_blank"><button class="button is-success"><i
                      class="fa fa-whatsapp fa-fw" aria-hidden="true"></i>WhatsApp
                  </button></a>
              </p>
              <p class="card-footer-item">
                <a href="https://www.linkedin.com/in/revargas/" target="_blank"><button class="button is-info"><i
                      class="fa fa-linkedin fa-fw" aria-hidden="true"></i>LinkedIn
                  </button></a>
              </p>
            </footer>
          </div>
          <!--End Card-->
        </div>

      </div>
    </div>
  </section>
  <!--End First Section - Intro Hero-->

  <!--Second Section - Articulación del problema-->
  <section class="section">
    <!--section class="container"-->
    <div class="columns">

      <div class="column">

        <!--Tiles-->
        <div class="tile is-ancestor">
          <div class="tile is-vertical is-parent">
            <div class="tile is-child notification is-danger">
              <p class="subtitle">Research and analysis</p>
              <p>As an economist and consultant, I plan, manage, and conduct orgiginal research to understand problems,
                make decisions, or support courses of action.</p>
            </div>
            <div class="tile is-child notification is-success">
              <p class="subtitle">Document</p>
              <p>I write flagship reports and analytical documents that become intellectual property assets for the
                organization and suport its institutional reputation.</p>
            </div>
          </div>
          <div class="tile is-vertical is-parent">
            <div class="tile is-child notification is-info">
              <p class="subtitle">Training</p>
              <p>I create materials based on research and data to teach highly-specialized training sessions for staff
                and other stakeholders.</p>
            </div>
            <div class="tile is-child notification is-warning">
              <p class="subtitle">Dissemination</p>
              <p>I create structured talks to present the organization's specialized knowledge in different forums. I
                also generate social media content.</p>
            </div>
          </div>

        </div>
        <!--End Tiles-->

      </div>


      <div class="column is-three-fifths">

        <p class="title">
          Your organization deserves to be recognized for it's expertise.
        </p>
        <br>
        <p class="subtitle">
          Whether you want it or not, your organization, company, or project has a reputation already.
        </p>
        <p class="subtitle">
          Institutional, professional, and commercial prestige is built by formally-documenting
          the knowledge that is created by the organization.</p>
        <p class="subtitle">
          Let me help you plan, develop, execute, document, and disseminate your next analytical research project.
        </p>
        <div class="columns">
          <div class="column">
            <p>
              <strong>Ecosystem service analysis example, conducted for The World Bank in the Kyrgyz Republic.</strong>
            </p>
          </div>
          <div class="column">
            <p>
            <figure class="image is-inline-block has-text-centered">
              <img src="/assets/img/KGZ-AnnualWaterYield.jpg">
            </figure>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!--End First Section - Intro Hero-->

  <section class="hero is-info">
    <div class="hero-body">
      <p class="title is-5 has-text-centered">I have conducted research for organizations* like:</p>
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column">
            <figure class="image is-128x128 is-inline-block">
              <img src="/assets/img/world-bank-logo.png">
            </figure>
          </div>
          <div class="column">
            <figure class="image is-128x128 is-inline-block">
              <img src="/assets/img/logo_eclac_es.png">
            </figure>
          </div>
          <figure class="image is-128x128 is-inline-block">
            <img src="/assets/img/logo-bid-es.png">
          </figure>
          <div class="column">
            <figure class="image is-128x128 is-inline-block">
              <img src="/assets/img/FAO_logo2.png">
            </figure>
          </div>
          <div class="column">
            <figure class="image is-128x128 is-inline-block">
              <img src="/assets/img/usaid-logo.png">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
  <p class="subtitle is-6 has-text-right">* Former consulting clients. Not affiliated or employed by them.</p>

  <!--Section: Método-->
  <section class="section">
    <!--section class="container"-->
    <div class="columns">

      <div class="column is-one-fifth">

        <p class="title is-5">
          A combination of experience and science-based methods
        </p>
        <p>
          A proven modular methodology allows me to scientifically work on different stages of the institutional
          knowledge generation
          process, limiting myself to the specific stage in which your organization needs support.
        </p>
        <p>
          Partnerships with professionals from different disciplines allows me to go beyond my expertise to provide
          quality research
          services.
        </p>
      </div>


      <div class="column">

        <!--Tiles-->
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="tile is-child notification is-warning">
              <p class="title is-5">Planning and monitoring</p>
              <p>
                This phase focuses on providind a solid state-of-the-art theoretical foundation for the topic 
                to create indicator systems, databases, and data collection instruments to provide a solid 
                foundation to inform the entire research and dissemination process.
                At this stage, I can also help with the procurement of human, financial, and physical resources 
                for the research project.
              </p>
            </div>
          </div>

          <div class="tile is-parent">
            <div class="tile is-child notification is-success">
              <p class="title is-5">Evaluation</p>
              <p>
                During this phase, I use quantitative and qualitative analysis methodologies to understand 
                the potential impacts of our organization's actions and the generatoion of specialized knowledge. 
                This phase is known for its use of analytical programming languages like R, Python, Stata, GAMS, 
                and Geographical information systems, as well as automatization of analyitical processes.
              </p>
            </div>
          </div>

          <div class="tile is-parent">
            <div class="tile is-child notification is-warning">
              <p class="title is-5">Documentation</p>
              <p>
                In this phase, I author and coauthor high-quality intellectual property elements, using data and 
                insights generated in previous phases. Most representative in this phase is the authorship of <strong>
                  flagship reports and books</strong>, which provide institutional reputation validation elements, based 
                  on specialized knowledge.
              </p>
            </div>
          </div>

          <div class="tile is-parent">

            <div class="tile is-child notification is-success">
              <div class="content">
                <p class="title is-5">Learning</p>
                <p>In this phase, I help you create:</p>
                <ul>
                  <li>Training materials: workbooks, presentations, virtual sessions, videos, etc.</li>
                  <li>Structured talks and keynote speeches.</li>
                  <li>Editorial content for magazines, documentaries, etc.</li>
                  <li>Social network content (LinkedIn, Instagram, TikTok, etc.)</li>
                </ul>
              </div>
            </div>

          </div>


        </div>

      </div>
      <!--End Tiles-->







    </div>
  </section>



  <!--End método-->

  <!--Last Section - Outro Hero-->
  <section class="hero is-info">
    <!--section class="container"-->
    <div class="hero-body">
      <div class="columns">

        <div class="column is-two-thirds">
          <p class="title">
            Economist and independent consultant
          </p>
          <p class="subtitle">
            With over 15 years of experience creating scientifically-validated content for international 
            organizations, I can help you design, manage, execute, document, and disseminate original 
            research and analysis, creating intellectual property assets to persuade clients, partners, 
            and staff of the benefits of different courses of action, products, or services, thus strengthening 
            the organization's institutional reputation and expertise.
          </p>
        </div>
        <div class="column">

          <!--Start card-->
          <div class="card">
            <div class="card-content">

              <div class="card-image has-text-centered">
                <figure class="image is-128x128 is-inline-block">
                  <img class="is-rounded" src="/assets/img/renato-vargas.jpg" />
                </figure>
              </div>
              <p class="has-text-centered">Let's book a call to determine if my services match your needs. Contact me:</p>

            </div>
            <footer class="card-footer">
              <p class="card-footer-item">

                <a href="https://wa.me/50233654263" target="_blank"><button class="button is-success"><i
                      class="fa fa-whatsapp fa-fw" aria-hidden="true"></i>WhatsApp
                  </button></a>
              </p>
              <p class="card-footer-item">
                <a href="https://www.linkedin.com/in/revargas/" target="_blank"><button class="button is-info"><i
                      class="fa fa-linkedin fa-fw" aria-hidden="true"></i>LinkedIn
                  </button></a>
              </p>
            </footer>
          </div>
          <!--End Card-->
        </div>

      </div>
    </div>
  </section>
  <!--End Last Section - Outro Hero-->

  <!--Start Footer-->
  <footer class="footer">
    <div class="content has-text-centered">
      <p class="title is-5">Suscribe to my newsletter:</p>
      <p>
        <iframe src="https://toolsforconsultants.substack.com/embed" width="340" height="300" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
      </p>
      
    </div>
  </footer>
  <!--End Footer-->

</body>

</html>